<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="{{{dirs.reveal}}}/css/reveal.css">
        <link rel="stylesheet" href="{{{dirs.theme}}}/infosupport.css" id="theme">
        <link rel="stylesheet" href="{{{dirs.highlight}}}/{{{highlightTheme}}}.css">
        {{#css}}
        <link rel="stylesheet" href="{{{@root.dirs.css}}}/{{{.}}}">
        {{/css}}

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? '/reveal/css/print/pdf.css' : '/reveal/css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>
    </head>
    <body>

        <div class="reveal">
            <div class="slides">
            {{#each slides}}
              {{#if isFolder}}
              <section>
                {{#each slides}}
                  {{> slide slide=.}}
                {{/each}}
              </section>
              {{/if}}

              {{#if isSlide}}
                  {{> slide slide=.}}
              {{/if}}
            {{/each}}
            </div>
        </div>

        <script src="{{{dirs.reveal}}}/lib/js/head.min.js"></script>
        <script src="{{{dirs.reveal}}}/js/reveal.js"></script>

        <script>
            function extend() {
              var target = {};
              for (var i = 0; i < arguments.length; i++) {
                var source = arguments[i];
                for (var key in source) {
                  if (source.hasOwnProperty(key)) {
                    target[key] = source[key];
                  }
                }
              }
              return target;
            }

            // Optional libraries used to extend on reveal.js
            var deps = [
              { src: '{{{dirs.reveal}}}/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              { src: '{{{dirs.reveal}}}/plugin/markdown/marked.js', condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: '{{{dirs.reveal}}}/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: '{{{dirs.reveal}}}/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: '{{{dirs.reveal}}}/plugin/zoom-js/zoom.js', async: true },
              { src: '{{{dirs.reveal}}}/plugin/notes/notes.js', async: true },
              { src: '{{{dirs.reveal}}}/plugin/math/math.js', async: true }
            ];

            // default options to init reveal.js
            var defaultOptions = {
              controls: true,
              progress: true,
              history: true,
              center: true,
              transition: 'default', // none/fade/slide/convex/concave/zoom
              dependencies: deps
            };

            // options from URL query string
            var queryOptions = Reveal.getQueryHash() || {};

            var options = {};//{{{revealOptionsStr}}};
            options = extend(defaultOptions, options, queryOptions);
            Reveal.initialize(options);
        </script>
        
        {{#scriptPaths}}
          <script src="/{{{.}}}"></script>
        {{/scriptPaths}}
    </body>
</html>
